:root {
    --teal: #5CDB95;
    --sitefontColor: white;
    --sitebackgroundColor: #303133;
}

body {
    background-color: var(--sitebackgroundColor);
    color: var(--sitefontColor);
}

.page-content {
    text-align: center;
}


/* styling for the nav bar */
.header {
    padding-left: 10px;
}

.menu_navbar {
    font-family: 'Roboto', sans-serif;
    float: right;
}

.logo a {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    text-decoration: none;
}

.logo a:hover {
    color: var(--teal);
}

ul li {
    display: inline;
    padding: 10px;
}

.menu-links li a {
    color: var(--sitefontColor);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul li a:hover {
    text-decoration: underline;
}

/* styling for the banner  */
.banner {
    height: 350px;
    width: 100%;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .9)), url(customer/fruits-image.jpg);
    background-size: cover;
}

.pageTitle{
    color: red;
}

/* styling for the customer page */
.thegrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
  }

.food-item {
    text-align: center;
}


/* styling for the farmer page */
.prodcue-table
 {
    /* border: 1px solid black; */
    font-size: 16px;
    width: 70%;
}


