:root {
    --teal: #5CDB95;
    --sitefontColor: white;
    --sitebackgroundColor: #303133;
    --placeholdercolor: #ececec;
}

body {
    background-color: var(--sitebackgroundColor);
    color: var(--sitefontColor);
}

.page-content {
    text-align: center;
}


/* styling for the nav bar */
.header {
    padding-left: 10px;
}

.menu_navbar {
    font-family: 'Roboto', sans-serif;
    float: right;
}

.logo a {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    text-decoration: none;
}

.logo a:hover {
    color: var(--teal);
}

ul li {
    display: inline;
    padding: 10px;
}

ul li a {
    color: var(--sitefontColor);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul li a:hover {
    text-decoration: underline;
}

/* styling for the banner  */
.banner {
    height: 350px;
    width: 100%;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .9)), url(customer/fruits-image.jpg);
    background-size: cover;
}

/* styling for the customer page */
.thegrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
  }

.food-item {
    text-align: center;
}


/* styling for the farmer page */
.prodcue-table
 {
    /* border: 1px solid black; */
    font-size: 16px;
    width: 70%;
}

/* styling for the customer logged in page */

.customer-loggedin {
    background-color: var(--sitefontColor);
    color: var(--sitebackgroundColor);
}

.customer-loggedin-menu-links li a {
    color: var(--sitebackgroundColor);
}


/* styling for the login pages */
.access_page {
    background-repeat: no-repeat;
    background: linear-gradient( rgba(20, 20, 20, .8), rgba(20, 20, 20, .8)), url(gray-login-img.jpg);
    background-size: cover;
}

.sign_up_input,
.login_input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 50%;
}

/* change the color of the placeholder text */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholdercolor);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholdercolor);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholdercolor);
  }

/* login button style */
div[class*=container] {
    text-align: center;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*
   BUTTON STYLING
  */
  
  .btn {
    position: relative;
    color: white;
    width: 256px;
    height: 64px;
    line-height: 64px;
    transition: all 0.3s;
  }
  
  .submit-button {
    border: none;
    background: transparent;
    text-align: center;
    color: white;
  }
  
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  
  /* BTN TWO */
  .btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    width: 100%;
      height: 100%;
    bottom: 0;
      left: 0;
      z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  .btn-two:hover::before {
    animation-name: rotateccw; 
    animation-duration: 3s;
  }
  .btn-two:hover::after, .btn-two:hover::before {
    left: 96px;
    width: 64px;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateccw {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }
  


  /* styling for the split page */
  #content {
    display: flex;
  }
  
  #left,
  #right {
    border: 1px solid #fff;
    flex-grow: 1;
    color: #fff;
  }  