:root {
    --teal: #5cdb95;
    --sitebackgroundColor: #303133;
    --displaymessagecolor: #ff726f;
    --boldpink: #e11584;
    --siteorange: #FC7753;
    --siteblue: #66D7D1;
    --sitepurple: #403D58;
    --sitestraw: #DBD56E;
    --siteisabeline: #F2EFEA;
}

html * {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


/* universal styles for all pages in the app */

body {
    background-color: var(--sitebackgroundColor);
    color: white;
}

.content {
    margin: auto;
    padding-top: 30px;
}


/* nav bar sytles for mobile and desktop */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

ul.topnav li a:visited {
    background-color: var(--grape);
    text-decoration: underline;
}

ul.topnav li a:hover {
    color: orange;
    text-decoration: underline;
}

ul.topnav li.right {
    float: right;
}

.logo {
    font-weight: bold;
}


/* mobile navigation styling */

.mobile-nav {
    display: none;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 270px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: medium;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.openbtn {
    font-size: medium;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    background: transparent;
}

.openbtn:hover {
    background-color: #444;
}


/* index page styling for the top section */

.index-banner {
    background-color: var(--siteorange);
}

.index-header-content {
    height: 90vh;
}

.index-title {
    font-family: 'Rock Salt', cursive;
    font-size: 60px;
}

.welcomepage-card {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 100px;
    padding: 60px;
    margin-left: 29%;
}

.welcomepage-card h1 {
    font-size: small;
    font-weight: 700;
}

.veges-rain img {
    height: 10px;
    width: 10px;
}

.welcomepage-card p {
    font-size: 15px;
    font-weight: 300;
}

.card-button {
    border: 1px solid var(--inputcolor);
}

.group-buttons {
    display: flex;
    justify-content: space-between;
}

.order-btn {
    font-weight: 400;
    letter-spacing: -3px;
    line-height: 90px;
    color: var(--grape);
    font-size: 44px;
    text-decoration: underline;
    text-decoration-color: orange;
}


/* top section side links */

.how-link,
.deliver-link,
.sub-link,
.contact-link {
    font-size: 17px;
    font-weight: 300;
    color: black;
    text-decoration: underline;
}

.how-link {
    padding-left: 15px;
    transform: rotate(90deg);
}

.deliver-link {
    padding-bottom: 50px;
    padding-left: 50px;
}

.sub-link {
    transform: rotate(90deg);
}

.contact-link {
    padding-bottom: 50px;
    padding-right: 40px;
}


/*-------- display message styles  */

.display-message {
    color: var(--displaymessagecolor);
    text-align: center;
}

.main-btn:link,
main.btn:visited {
    background-color: #f44336;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
}

.main-btn:hover,
.main-btn:active {
    background-color: blue;
}


/* end of styling for the first section of the index/ landing page */


/* styling for the grid for the package section */

.food-item {
    text-align: center;
    padding: 40px;
    width: 100%;
    border-radius: 25px;
}

.food-item:hover {
    box-shadow: 10px 10px 10px 10px gray;
}

.food-item button {
    opacity: 0;
}

.food-item:hover button {
    opacity: 1;
}

.package-container {
    padding: 0px !important;
    background-color: var(--sitepurple);
}

.package-container h1 {
    text-decoration: underline;
    text-decoration-color: var(--siteorange);
}

.package-container a {
    padding: 40px;
    font-weight: 500;
    color: var(--sitestraw);
}

.display-package {
    padding: 20px;
}


/* end of styling for the package section in index page */


/* styling for how it works section  */

.how-it-works-container {
    padding: 0px !important;
    background-color: var(--siteblue);
}

.how-it-works-content {
    height: 90vh;
}

.how-it-works-row {
    padding-top: 5%;
}

.content-how-it-works {
    padding: 13%;
    color: black;
}

.content-how-it-works p,
.content-delivery p,
.steps-how-it-works ol {
    font-weight: 400;
    font-size: large;
    line-height: 2.8;
}

.steps-how-it-works {
    color: black;
    padding: 13%;
}

.steps-how-it-works h1,
.content-how-it-works h1 {
    text-decoration: underline;
    text-decoration-color: var(--boldpink);
    text-align: center;
}


/* end styling for how it works */


/* styling for delivery section */

.delivery-container {
    padding: 0px !important;
    background-color: var(--sitestraw);
}

.banner-delivery {
    height: 80vh;
}

.content-delivery {
    color: black;
    padding: 8%;
}

.content-delivery h1 {
    font-family: 'Rock Salt', cursive;
}


/* end of styling for delivery */


/* styling for contact section */

.contact-container {
    padding: 0px !important;
    background-color: var(--siteisabeline);
}

.banner-contact-us {
    color: black;
}

.contact-info p {
    font-size: small;
    letter-spacing: 3px;
}

.banner-contact-us h1 {
    text-decoration: underline;
    text-decoration-color: var(--siteorange);
}

.contact-info {
    padding: 80px;
}

.contact-info h2 {
    font-size: large;
}


/* styling for the login and sign-up pages */

.access_page {
    background-color: var(--siteblue);
}

.access-container {
    height: 70vh;
}

.access-row {
    padding-top: 5%;
}

.login-card,
.signup-card {
    height: 500px;
    padding: 10%;
    width: 70%;
    display: inline-block;
}

.login-card {
    background-color: var(--siteorange);
}

.signup-card {
    background-color: var(--sitepurple);
}

.submit-button {
    color: white;
    padding: 10px 50px;
    background-color: transparent;
    margin: 8px 0;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 15px;
}


/* styling for customer logged in page - page where they purches the item chosen */

.customer-loggedin {
    background-color: var(--siteorange);
}

.shopping-message form {
    width: 300px;
    text-align: left;
    display: inline-block;
}

.shopping-message h1 {
    text-decoration: underline;
    text-decoration-color: var(--sitepurple);
}


/* styling for shopping cart collection pg */

.shopping-cart-pg {
    background-color: var(--sitestraw);
}